{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title%}
  Product-list2
{% endblock %}
{% block content %}    
      <!-- SITE BLOG STARTS HERE -->
      <h1>3 Products In Laptop Category</h1>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop1.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop2.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop3.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop4.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop5.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop6.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
         <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop7.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{% static 'images/laptop8.jpg' %}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>laptop 1</h2>
            <h2>Prize: &#8358; 60,000 </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 

       
      </div>
      <!-- END OF BLOG ROW 1 -->
     
     
      <!-- SITE BLOG ENDS HERE -->
    </div>
    <!-- END OF MAIN CONTENT -->
{% endblock %}